mat-card {
    background: brown;
    padding: 1.5rem;
    margin: 12px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
}
.bg-black {
    background-color: #000000;
}