<mat-card>
    <mat-card-title>
        <h1> Create Employee</h1>
    </mat-card-title>
    <form (submit)="onAddEmployee(employeeForm)" #employeeForm="ngForm">
        <mat-form-field>
            <input matInput type="text" name="empId" ngModel required minlength="4" placeholder="Employee ID"
                #empId="ngModel">
            <mat-error *ngIf="empId.invalid">Please the ID.</mat-error>

        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" name="firstName" ngModel required minlength="3"
                placeholder="Employee First Name" #firstName="ngModel">
            <mat-error *ngIf="firstName.invalid">Please enter first name.</mat-error>

        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" name="lastName" ngModel required placeholder="Employee Last Name"
                #lastName="ngModel">
            <mat-error *ngIf="lastName.invalid">Please enter last name.</mat-error>

        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Save Employee</button>
    </form>
</mat-card>