<!-- <app-nav></app-nav> -->
<div class="container">
    <h1>Tulip Corp</h1>
    <br /><br />
    <hr>
    <div class="row">
        <!-- <div class="col-sm-4">
            <img src="./assets/ka-patrick.jpg" alt="Patrick Kavanaugh" width="100%" height="100%">
        </div> -->
        <div class="col-sm-8">

            <p>Tulip Corp is a corporation that helps kids to learn about values by teaching them how to code,
                and
                how to
                build
                websites and apps. We are a non-profit organization that is dedicated to helping kids learn about
                technology
                and
                how to use it to make the world a better place.
            </p>
        </div>
    </div>
</div>
<!-- <app-footer></app-footer> -->