<mat-accordion multi="true" *ngIf="employees.length > 0">

    <mat-expansion-panel *ngFor="let employee of employees">

        <mat-expansion-panel-header>
            {{employee.firstName}}
        </mat-expansion-panel-header>
        {{employee.lastName}}
        <mat-action-row>
            <button mat-button color="primary">EDIT</button>
            <button mat-button color="warn" (click)="onDelete(employee.empId)">DELETE</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="employees.length <= 0">No employees listed yet!</p>