<mat-card>
    <mat-card-title>
        <h1> Create Task</h1>
    </mat-card-title>
    <form (submit)="onAddTask(taskForm)" #taskForm="ngForm">
        <mat-form-field>
            <input matInput type="text" name="title" ngModel required minlength="3" placeholder="Task Title"
                #title="ngModel">
            <mat-error *ngIf="title.invalid">Please enter a task title.</mat-error>

        </mat-form-field>
        <mat-form-field>
            <textarea matInput rows="4" name="content" ngModel required placeholder="Task Content"
                #content="ngModel"></textarea>
            <mat-error *ngIf="content.invalid">Please enter a task content.</mat-error>

        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Save Task</button>
    </form>
</mat-card>